@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-login {
    font-family: "Preahvihear", sans-serif;
  }
  body {
    background: url("../img/backGround.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  .bg-btn {
    background: url("../img/gradient-btn.png");
    transition: 500ms;
  }
  .bg-btn:hover {
    background-position: 50%;
  }
}
@media (max-width: 520px) {
  .media {
    margin: 20px 10px;
  }
}
