@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "estedad";
  src: url(@/assets/fonts/Estedad.woff2) format("woff2"),
    url(@/assets/fonts/YekanBakh-Medium.woff2) format("woff2"),
    url(@/assets/fonts/YekanBakhFaNum-Regular.woff2) format("woff2");
}
body {
  font-family: "estedad";
  background-size: cover;
  background-image: url(@/assets/images/bg-main.jpg);
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #2e333d;
}
::-webkit-scrollbar-thumb {
  background: rgb(223, 223, 223);
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 20ch;
  }
}
.animate-typing {
  animation: typing 5s;
  animation-iteration-count: infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fade {
  animation: fade 2s;
}
@keyframes backInDown {
	0% {
		transform: translateY(-1200px) scale(0.7);
		opacity: 0.7;
	}
	80% {
		transform: translateY(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.animate-backInDown{
  animation: backInDown 2s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate-fadeInRight{
  animation:fadeInRight 1s;
}